
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$width: 100%;


.list {
  display: block;
  flex-wrap: wrap;
  

  .section {
    width: 100%;
    display: flex;
    background-color: #686868;
    border: 1px solid #535252;
    padding: 1%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    list-style-type: none;
    text-align:justify;
    font-family: 'Roboto', sans-serif;
    color: #f9f9f9;


    .image-size {
      text-align: center;
      width: 50%;
      padding: 0;
      width: 5rem;
    }

    .section-list {
      width: 100%;
      display: block;
      padding: 1%;

    }

    .content {
      display:flex;
      width: 100%;
      align-items: center;
      color: #f9f9f9;
      
    }

    .image-size {
      max-width: 100%;
      height: auto;
    }

    .name {
      font-weight: bold;
      margin-top: 10px;
    }

    .nome-autor {
      font-style: italic;
    }

    .serie {
      margin-top: 10px;
      margin-right: 1rem;
    }

    .avaliacao {
      margin-top: 10px;
      margin-right: 1rem;
      font-weight: bold;
      color: #ff9900b2;
    }

    .progresso {
      margin-top: 10px;
      margin-right: 1rem;
    }

    .ultima-leitura {
      margin-top: 10px;
      margin-right: 1rem;
    }
  }
}



.grade {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .section {
    min-width: 14%;
    height: cal($width * 1.5);
    margin: 1%;
  }

  .section:first-child {
    margin-left: 3%;
  }

  .section:last-child {
    margin-right: 3%;
  }

  .image-size {
    width: 100%;
    height: auto;
  }

  .name,
  .nome-autor,
  .serie,
  .resumo-livro,
  .avaliacao {
    display: none;
  }
}